html {
    font-size: 16px;
    box-sizing: border-box;
    height: -webkit-fill-available;
}
* {
    box-sizing: inherit;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    background-color: #e6e9eb;
    margin: 0;
    padding: 0;
    width: fit-content;
}
#desktop-header,
#mobile-header {
    background-color: #6f8aa8;
    padding: 20px 0;
} 
#mobile-header {
    display: none;
}
#banner-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 50px;
}
h1 {
    font-family: 'Glass Antiqua', cursive;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 45px;
    color: #6fa890;
    text-align: center;
    background-color: rgba(230, 233, 235, 0.5);
    padding: 20px 10px;
    margin: 0;
}
main {
    display: flex;
    flex-flow: row-reverse;
}
#side-panel-content {
    padding: 1rem;
}
#moves-counter {
    font-family: 'Glass Antiqua', cursive;
    text-transform: lowercase;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 20px;
    color: #a86f80;
}
#reset {
    background-color: #a86f80;
    cursor: pointer;
    font-family: 'Julius Sans One', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    color: #fff;
    display: block;
    padding: 5px 20px;
    border: none;
}
#gameboard {
    background-color: rgb(111, 138, 168);
    padding: 20px;
    max-width: 900px;
    /* margin: 20px auto 70px; */
}
#container {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 20px;
}
.tile {
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 36px;
    border-color: rgb(55, 69, 84);
    border-width: 0 2px 5px 0;
    border-style: solid;
    background-image: url("../images/mmg-tile-back.svg");
    /* background-repeat: no-repeat;
    background-size: cover; */
    background-position: center;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}
.tile:focus {
    box-shadow: hsl(212deg 25% 83%) 0px 0px 4px 3px;
    outline: none;
}
.card-faces {
    max-width: 75%;
    max-height: 75%;
    margin: auto;
    display: none;
}
.match {
    cursor: not-allowed;
}
footer {
    background-color: #a86f80;
    position: relative;
    width: 100%;
    bottom: 0;
    margin-top: auto;
}
#copyright {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 10px;
    color: #fff;
    padding: 8px 30px;
    margin: 0;
}